<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var $block \Magento\Framework\View\Element\Html\Links */
?>
<?php /** @var $block \Magento\Customer\Block\Account\Navigation */ ?>
<div class="block account-nav">
    <div class="title">
        <h1><b><?= $block->escapeHtml(__('My Affiliate Page')) ?></b></h1>
    </div>
    <div class="content">
        <nav class="account-nav">
            <ul class="nav items">
                <?= $block->getChildHtml() ?>
            </ul>
        </nav>
    </div>
</div>
<div class="aff-main-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <h2><b>Welcome To Our Affiliate Network!</b></h2>
    </div>
    <p>
        Affiliate programs are common throughout the Internet and offer website owners an additional way to spread
        the word about their websites. Among others, our program is free to join, easy to sign up and requires no
        technical knowledge! As our affiliates, you will generate traffic and sales for our website and receive
        attractive commissions in return.
    </p>
    <div class="page-title">
        <h2><b>How does it work ?</b></h2>
    </div>
    <p>
        Essentially affiliate marketing involves a merchant paying a commission to other online entities,
        known as affiliates, for referring new business to the merchant's website. Affiliate marketing is
        performance-based, which means affiliates only get paid when their promotional efforts actually
        result in a transaction.
    </p>
    <br>
    <center><img src="https://www.bigcommerce.com/blog/wp-content/uploads/2018/07/how-affiliate-marketing-works1-750x763.png" height="350px" width="350px" /></center>

</div>
