<?php
/**
 * @var \Product\AffiliateSales\Block\Display $block
 */
$product = $this->getAffiliateProducts();

$getTrackingcode = $this->getTrackingcode();
$getUrl = $this->getUrl();
$getSku = '';
$getDiscountType = $this->getAffiliatedDiscount();
?>

<div class="aff-main-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <h1><b><?php echo __('Products and Links')?></b></h1>
    </div>
    <p><?php echo __('Please fill in one of the links from our store such as: product URL, category URL or other page\'s URL into the text box below:')?></p>
    <div class="form-group">
        <form name="form" id="myForm" action="" method="POST">
            <input type="text" class="form-control" id="affiliate-product-link" name="affiliate-product-link" style="margin-bottom: 20px;">
            <input type="text" class="form-control" id="affiliate-product-sku" name="affiliate-product-sku" style="margin-bottom: 10px;">
            <label>Select type of Campaign:</label>
            <select id="affiliate-product-campaign" name="affiliate-product-campaign">
                <?php foreach($getDiscountType AS $list){?>
                    <option value=<?php echo $list['title'] ?> ><?php echo $list['title'] . " : " . $list['offrate'] ?></option>

               <?php } ?>
            </select><br><br>
            <button type="submit" name="btnSubmit" class="button button-config action primary" title="<?php echo __('Get Affiliate Link'); ?>" onclick="myFunction();" style="margin-bottom: 20px;">
                <span><?php echo __('Get Link'); ?></span>
            </button>
        </form>
    </div>
    <div class="form-group">
        <p><?php echo __('Receive a unique affiliate link:'); ?></p>
        <label>Place Product Link Here:</label>
        <?php
            if(isset($_SESSION["url"])){

        ?>
                <a id="getAffLink" href="<?php echo $_SESSION["url"] ?>"><?php echo $_SESSION["url"] ?>"</a><br>

        <?php }else{ ?>
                <a id="getAffLink" >Try to generate a unique link</a><br>
        <?php } ?>
    </div>
    <div id="productslist">
        <h2><b>Affiliate Products</b></h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Link</th>
                <th>Product Sku</th>
            </tr>
            <?php foreach ($product as $product): ?>
                <tr>
                    <td><?php echo $product->getId(); ?></td>
                    <td><?php echo $product->getTitle(); ?></td>
                    <td><a href="<?php echo $product->getAffiliateProductLink(); ?>">
                            <?php echo $product->getAffiliateProductLink(); ?></a></td>
                    <td><?php echo $product->getProductSku(); ?></td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
</div>

<?php

if(isset($_SESSION["url"])) {
    unset($_SESSION["url"]);
}


    if ($_SERVER['REQUEST_METHOD'] === 'POST') { //check if something posted

        if (isset($_POST['btnSubmit'])) {


        $url = $_POST['affiliate-product-link'];
        $uniquelink = $url . '?code=' . $getTrackingcode;
        $_SESSION["url"] = $uniquelink;
            $selectedval = $_POST['affiliate-product-campaign'];
        $block->setAffiliateSku($getTrackingcode, $_POST['affiliate-product-sku'], $selectedval);

        }
    }

?>



