<?php
/**
 * @var \Product\AffiliateSales\Block\Display $block
 */
$transactions = $this->getTransactionOrders();

?>

<div class="aff-main-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <h1><b><?php echo __('Transactions')?></b></h1>
    </div>
    <div id="productslist">
        <table>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Grand Total</th>
                <th>Customer Email</th>
            </tr>
            <?php foreach ($transactions as $transactions): ?>
                <tr>
                    <td><?php echo $transactions->getId(); ?></td>
                    <td><?php echo $transactions->getState(); ?></td>
                    <td><?php echo $transactions->getBaseGrandTotal(); ?></td>
                    <td><?php echo $transactions->getCustomerEmail(); ?></td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
</div>